.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.myJournal {
  height: 30%; /* Full-height: remove this if you want "auto" height */
  width: 300px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #fffaec; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
}

.myJournal h2 {
  padding: 6px 8px 6px 30px;
  text-decoration: none;
  text-align: left;
  font-size: 25px;
  color: #0d0c0c;
  display: block;
}

.sidenav {
  height: 70%; /* Full-height: remove this if you want "auto" height */
  width: 300px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  bottom: 0;
  left: 0;
  background-color: #fffaec; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 100px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #0d0c0c;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}
